<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      .card{

        background-color: #00ffa2;
        font-family: 'Poppins', sans-serif;
        border: 2px solid darkblue;
        color:darkblue;
      
      }
      .navbar{
        background-color: #00ffa2;
        color: #004466;
        border: 2px solid #272343;
        
        padding: 10px;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
       

      }
      .links{
        text-decoration: none;
        color: #004466;
        padding: 10px;
        margin: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        
      }
      .links:hover{

        background-color: #004466;
        color: #00ffa2;
        box-shadow: 0px 0px 10px #004466;
        border-radius: 10px;
        transition: all 150ms ease-in-out;
       
       
      }
      
      .btn-primary{
        background-color: darkblue;
       

      }
      .nav-item{
        color: white;
        font-weight: bold;
      }
      a{
        text-decoration: none;
      }
      footer{
     
      color: #004466;
      padding: 10px;
     
     
    }
    </style>
    <script>
      var triggerEl = document.querySelector('#navId a')
      bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
    </script>
        <script>
          var modalId = document.getElementById('modalId');
        
          modalId.addEventListener('show.bs.modal', function (event) {
              // Button that triggered the modal
              let button = event.relatedTarget;
              // Extract info from data-bs-* attributes
              let recipient = button.getAttribute('data-bs-whatever');
        
            // Use above variables to manipulate the DOM
          });
        </script>
         <script>
          var modalId = document.getElementById('modalId1');
        
          modalId.addEventListener('show.bs.modal', function (event) {
              // Button that triggered the modal
              let button = event.relatedTarget;
              // Extract info from data-bs-* attributes
              let recipient = button.getAttribute('data-bs-whatever');
        
            // Use above variables to manipulate the DOM
          });
        </script>
    
</head>
<body>
 
<nav class="navbar navbar-expand-sm ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="links active" th:href="@{/admin/home}" aria-current="page">Dashboard<span class="visually-hidden">(current)</span></a>
            </li>
           
              <li class="nav-item">
                <a class="links"th:href="@{/admin/showStudents}" aria-current="page">Students<span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="links " th:href="@{/admin/showSubjects}" aria-current="page">Subjects<span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="links " th:href="@{/admin/showCourses}" aria-current="page">Courses<span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="links " th:href="@{/admin/showTeachers}" aria-current="page">Teachers<span class="visually-hidden">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="links " href="#" aria-current="page">Exams <span class="visually-hidden">(current)</span></a>
    </li>
            
           
        </ul>
        <div class="nav-item dropdown me-md-5">
          <a class="links" th:href="@{/logout}">logout</a>          <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Action 1</a>
              <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </div>
    </div>
</nav>
 <!-- Nav tabs -->
 

 <br>

<div class="row mx-4">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" th:text="${stucount}"></h3>
        <p class="card-text">Total Students</p>
        <a th:href="@{/admin/showStudents}"><button type="button" class="btn btn-primary">Manage</button></a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" th:text="${teacount}"></h3>
        <p class="card-text">Total Teachers</p>
        <a th:href="@{/admin/home}"><button type="button" class="btn btn-primary">Manage</button></a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" th:text="${courcount}"></h3>
        <p class="card-text">Total Courses</p>
        <a th:href="@{/courses/showStudents}"><button type="button" class="btn btn-primary">Manage</button></a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" th:text="${subcount}"></h3>
        <p class="card-text">Total Subjects</p>
        <a th:href="@{/subject/home}"><button type="button" class="btn btn-primary">Manage</button></a>
      </div>
    </div>
  </div>
  <div class="col-3 mt-2">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" th:text="${subcount}"></h3>
        <p class="card-text">Notifications</p>
        <!-- Modal trigger button -->
        <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#modalId">
          Send Notice
        </button>
        <a th:href="@{/subject/home}"><button type="button" class="btn btn-primary">Manage</button></a>
        
        <!-- Modal Body -->
        <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
        <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <div class="mb-3">
                <form action="sendNotification" method="post">
                 <label for="" class="form-label"></label>
                 <input type="text" name="title" id="" class="form-control" placeholder="Enter title" aria-describedby="helpId">
                <div class="mb-3">
                  <label for="" class="form-label">Description</label>
                  <textarea class="form-control" name="ndesc" id="" rows="3"></textarea>
                  

                </div>
               </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" value="Submit" class="btn btn-primary">
              </form>
              </div>
            </div>
          </div>
        </div>
        
        
        <!-- Optional: Place to the bottom of scripts -->
        <script>
          const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
        
        </script>
      </div>
    </div>
  </div>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    </a>
    <span class="mb-3 mb-md-0 ">&copy; ABC Institute, BBSR</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="mx-2"><svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></li>
        <li class="mx-2"><svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></li>
        <li class="mx-2"><svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg></li>
  </ul>
</footer>


 
</body>
</html>